
@{
    ViewData["Title"] = "Menu";
}

<div class="row">

    <a href="../Escola/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/escola.png" width="200px" />
            <h3>Escolas</h3>
        </div>
    </a>

    <a href="../Conta/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/registrar_transacao.png" width="200px" />
            <h3>Contas</h3>
        </div>
    </a>

    <a href="../Extrato/Extrato">
        <div class="col-lg-4 text-center">
            <img src="~/images/extrato.png" width="200px" />
            <h3>Extrato</h3>
        </div>
    </a>
</div>

<br />
<br />

<div class="row">
    <a href="../Funcionario/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/funcionario.png" width="200px" />
            <h3>Funcionarios</h3>
        </div>
    </a>
   
    <a href="../Chamado/Index">
        <div class="col-lg-4 text-center">
            <img src="~/images/conta.png" width="200px" />
            <h3>Chamados </h3>
        </div>
    </a>

    <a href="../Home/Ajuda">
        <div class="col-lg-4 text-center">
            <img src="~/images/ajuda.png" width="200px" />
            <h3>Ajuda</h3>
        </div>
    </a>

</div>

